<html lang="en">
    <head>
        <!-- some html -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- get the title of the page dynamically -->
        <title>Data Centric Project | <%= title %></title>
    </head>

    <!-- body of the main page -->
    <body>
        <!-- navigation element -->
        <nav>
            <div>
                <a href="/"><h1>Data Centric Project</h1></a>
            </div>
            <!-- list element -->
            <ul>
                <!-- links to all the different pages -->
                <li><a href="/stores">Stores</a></li>
                <li><a href="/products">products</a></li>
                <li><a href="/managers">managers</a></li>
            </ul>
        </nav>
    </body>
</html>